footer {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: relative;
    border-top: 1px solid #CCCCCC;
    background-color: white;
}
